
    @{
        ViewBag.Title = "Contact";
    }
    <div style="position:relative;text-align:center; padding-top:5%">
    <img src="~/Content/image/books4.jpg" style="width:80%; margin-left:5%; margin-right:auto"/>
    <div  style="position:absolute;top:25%;left:25%">
        <h2 style="text-decoration:underline">@ViewBag.Title</h2>
        <address style="font-size:large">
            <strong>Built by: </strong><div style="text-underline-position:below">R Yashaswini Tejaswi</div><br />
            <strong>Linkedin: </strong><a style="color:black" href="https://www.linkedin.com/in/yashaswini-ravuri-a3b2501b8/">YashaswiniRavuri_Linkedin</a><br />
            <strong>E-mail: </strong> <a style="color:black" href="mailto:booksatyourdoorsteps@gmail.com">booksatyourdoorstep@gmail.com</a><br />
            <strong>Github repo-link: </strong><a style="color:black" href="https://github.com/yashaswiniravuri/Digital-Library">BooksAtYourDoorStep_Github</a>
        </address>
    </div>
</div>