@{
    ViewBag.Title = "Help";
}
<style>
    body {
        background: -webkit-linear-gradient(left,grey, black, grey);
    }
</style>
<div>
    <h2 style="margin-top:5%; margin-bottom:2%;text-align:center"></h2>
    <div class="jumbotron">
        <h3 style="margin-top:0%">Why Books At Your Door Step?</h3>
        <p style="font-size:medium">There are people who love reading, collecting books and would love to share them with other readers, and there are others who love reading and are used to borrow the books for a due period from libraries.</p>
        <p style="font-size:medium">In this digital world, we bring you Books At Your Door Step which is an online library that helps you add book details and also borrow the books.</p>
        <p style="font-size:medium">Feel the cover, admire it on the bookshelf, smell it, and finally, read it.</p>
    </div>
    <div class="jumbotron">
        <h3 style="margin-top:0%">How it works?</h3>
        <p style="font-size:medium">
            To access the services of the website, please register with your email id and add your details.
            We request you not to register with any fake details for our services to run properly.
        </p>
        <p style="font-size:medium">
            There are two roles that you could take up:
            <ol>
                <li>LENDER</li>
                <li>BORROWER</li>
            </ol>
        </p>
        <h4>LENDER:</h4>
        <p style="font-size:medium">
            A lender is the one who shares the details of the books and posts them online, so that the borrowers can find the details and post and order. Lenders can add, edit, and delete the books.
            Lenders can view the orders requested by the borrowers. When a borrower orders or returns a book, lender is notified with an email along with the details of the respective borrower and also have an access to view the status of the ordered books.
        </p>
        <h4>BORROWER:</h4>
        <p style="font-size:medium">
            A borrower can view all the book details posted by the lenders on the website. They can add books to the orders, borrow them and return the books within the due time. When a book is borrowed/returned a confirmation
            mail is sent to the members along with the details of respective lender.
        </p>
    </div>
    <div class="jumbotron">
        <h4>Note:</h4>
        <p style="font-size:medium">The website is a medium that just connects readers. The website does not involve in delivering the books or the safety of the books. The delivery of the books are to be discussed according to your convenience. The lender and the borrower are supposed to discuss these issues among themselves.</p>
    </div>

</div>