@model IEnumerable<Library.Data.Models.Books>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <h2>Gallery</h2>
    <div>
        There are @Model.Count() books available!!
    </div>
     
</div>
<ul>
    @foreach (var books in Model)
            {
                <li>@books.Book_Name</li>
            }
</ul>

