@model IEnumerable<Library.Data.Models.Books>
@using Library.Models;
@{
    ViewBag.Title = "Borrow";
}

<! Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

 </head>
<body>
    <h3>Products List</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Book_Id</th>
            <th>Book_Name</th>
            <th>Author Name</th>
            <th>Librarian Name</th>
            <th>Genre</th>
        </tr>
        
    </table>
</body>
