@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    #tbrole,.c{
        border:double;
    }
</style>
<table id="tbrole">
    <tr class="c">
        Role Name
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td class="c">
                        @item.Name
                    </td>
                </tr>
            }
</table>

